<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Bekasi menetrend</title>
        <script>
            window.setTimeout(function () {
                location.href = location.href;
            }, 30000);
        </script>
    </head>
    <body>
        {% load template_extras %}
        {% if departuresList and nowTime %}
            <ul>
            {% for departure in departuresList %}
                <li>{{ departure.departureTime|date:"H:i" }} -- {{ departure.departureTime.minute|subtract:nowTime.minute}} perc -- {% if departure.startsFromBekas %}Bekas{% else %}Szentendre{% endif %}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No menetrend is available.</p>
        {% endif %}
    </body>
</html>